*~ 
*.tmp
._*
*.sw*
nohup*
.R*
*final.md
*.*#
*-*.pdf
*-concordance.tex
*.log
*.synctex.gz
*.mov
*.mp4
*.gif
p_*
sandbox
Sandbox
*.[eo]*
*.png
__pycache__
Part*
*.Rout
.ipynbcheckpoints
reference
ph419*
